.faqs {
    margin: 1rem;
    background-color: rgb(208, 212, 211);
    padding: 1rem;
    border-radius: 0.6rem;
    box-shadow: 0.1rem 0.1rem rgb(197, 193, 193);
}

.faq div {
    display: flex;
    justify-content: space-between;
}

.faq button {
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 2rem;
    cursor: pointer;
}

.faq p {
    color: rgb(72, 2, 234);
}