.container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(59, 87, 116);
    padding: 1rem;
}

.faq {
    width: 50rem;
    max-width: 100%;
    background-color: aliceblue;
    border-radius: 0.6rem;
    padding: 1rem;
}

h1 {
    text-align: center;
    font-size: 3rem;
}